/* Custom Styles */

body {
    font-family: Arial, sans-serif;
  }

 

/* Updated Navigation Bar Styles */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: linear-gradient(135deg, #af55f0 0%, #b19cd9 100%);
  }
  
  .navbar-brand, .navbar-nav .nav-link {
    color: #000 !important;
    
  }
  
  .navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #9c20f5 !important;
  }
  
 /* Updated Hero Section Styles */
.hero {
    background: linear-gradient(135deg, #6a0dad 0%, #b19cd9 100%);
    height: 50vh;
    color: #ffffff;
    width: 100%;
  }
  
  .hero .display-4 {
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  }
  
  .hero .lead {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }
  
  section {
    padding: 60px 0;
    
  }
  
  .card {
    margin-bottom: 30px;
  }
  
  footer {
    background-color: #f8f9fa;
    padding: 20px 0;
  }
  
  /* Updated Services Section Styles */
.service-card {
    background: linear-gradient(135deg, #a94fe9 0%, #b19cd9 100%);
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .service-card .card-body {
    padding: 20px;
  }
  
  .service-card .card-title {
    font-size: 1.5rem;
    color: #6a0dad;
  }
  
  .service-card .card-text {
    color: #333;
    text-align: left;
  }

  /* Updated About Us Section Styles */
.about-content {
    background: linear-gradient(135deg, #a94fe9 0%, #b19cd9 100%);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-content h2 {
    color: #6a0dad;
  }
  
  .about-content p {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
  }

  
  /* Contact Section Styles */

#contact {
    background: linear-gradient(135deg, #6701af 0%, #b19cd9 100%);
    border-radius: 8px;
}


.contact-form {
    background: linear-gradient(135deg, #a94fe9 0%, #b19cd9 100%);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form .form-group {
    margin-bottom: 20px;
  }
  
  .contact-form .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  
  .contact-form .form-control:focus {
    box-shadow: 0 0 5px rgba(106, 13, 173, 0.5);
    border-color: #6a0dad;
  }
  
  .contact-form .btn {
    background-color: #6a0dad;
    border-color: #6a0dad;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .contact-form .btn:hover {
    background-color: #570f9d;
    border-color: #570f9d;
  }
  
  .map-container {
    margin-top: 2px;
  }
  
  @media (max-width: 768px) {
    .map-container {
      margin-top: 30px;
    }
  }
  